/* what we do on widescreen */

#what .items .item{
  display: flex;
  text-align: left;
}

#what .items .item i{
  align-self: center;
  margin-right: 1.3 rem;
  margin-bottom: 0;
  }

  #contact .map{
    flex:2;
  }
